<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Article</title>
    <link rel="stylesheet" href="../editNew.css">
</head>
<body>
     <h1>Upadte Article</h1>
    <form action="/edit-article/<%=article.id %>" method="POST">
        <div>
            <label for="articleTitle">Article Title</label>
            <input type="text" name="articleTitle" value="<%= article.title %>" id="articleTitle">
        </div>
        <div>
            <label for="articleDate">Publishing Date</label>
            <input type="date" name="articleDate" value="<%= article.fecha %>" id="articleDate">
        </div>
        <div>
            <label for="articleContent">Article Content</label>
            <textarea name="articleContent" id="articleContent" cols="30" rows="20">
                <%= article.text %>
            </textarea>
        </div>

        <button type="submit">Update</button>
    </form>
</body>
</html>