<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Personal</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1>Blog Personal</h1>
    <ul>
        <% articles.forEach(article => { %>
            <li>
                <div>
                    <a href="/article/<%=article.id %>">
                        <%= article.title %>
                    </a>
                    <p>
                        <%= article.fecha %>
                    </p>
                </div>
            </li>
            <% }) %>
    </ul>
</body>
</html>